<!-- Start Header section -->
<%- include("include/_header")%>
<!-- End header section -->



<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Order</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-300 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Orders</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                    </li>
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Order Details</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Form-->
            <form class="form d-flex flex-column flex-lg-row"  >
                <input type="hidden" id="box_id" name="id" value="<%= order._id %> ">
                <!--begin::Aside column-->
                <div class="w-100 flex-lg-row-auto w-lg-300px mb-7 me-7 me-lg-10">
                    <!--begin::Order details-->
                    <div class="card card-flush py-4">
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <div class="d-flex flex-column gap-10">
                                <!--begin::Input group-->
                                <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="required form-label">Box Name</label>
                                    <!--end::Label-->
                                    <!--begin::Select2-->
                                    <input type="text" class="form-control" id="box_name" name="box_name" value="<%= order.box_name %> " disabled>
                                    <!--end::Select2-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="required form-label">Box Description</label>
                                    <!--end::Label-->
                                    <!--begin::Select2-->
                                    <input type="text" class="form-control" id="box_description" name="box_description" value="<%= order.box_description %> " disabled >
                                    <!--end::Select2-->
                                </div>
                                <!--end::Input group-->
                            </div>
                        </div>
                        <!--end::Card header-->
                    </div>
                    <!--end::Order details-->
                </div>
                <!--end::Aside column-->
                <!--begin::Main column-->
                <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
                    <!--begin::Order details-->
                    <div class="card card-flush py-4">
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <div class="d-flex flex-column gap-10">                                
                                <!--begin::Input group-->
                                <div>
                                    <!--begin::Selected products-->
                                    <!--begin::Total price-->
                                    <div class="fw-bolder fs-4">Total Cost:  &#8358;
                                        <span id="kt_ecommerce_edit_order_total_price"><%= order.total_sum %> </span>
                                        <input type="hidden" id="total_price" name="total_price" value="<%= order.total_sum %> ">
                                    </div>
                                    <!--end::Total price-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Separator-->
                                <div class="separator"></div>
                                <!--end::Separator-->
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_edit_order_product_table">
                                    <!--begin::Table head-->
                                    <thead>
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                            <th class="min-w-200px">Product</th>
                                            <th class="min-w-100px text-end pe-5">Action</th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->

                                    <!--begin::Table body-->
                                    <tbody class="fw-bold text-gray-600" id="cart">
                                        <% for(let i=0; i<order.basket.length; i++){ %>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center" data-kt-ecommerce-edit-order-filter="product" data-kt-ecommerce-edit-order-id="product_30">
                                                        <div class="ms-5">
                                                            <a class="text-gray-800 text-hover-primary fs-5 fw-bolder"><%= order.basket[i].item %></a>
                                                            <!-- <input type='hidden' value='${items.item}' name='item[]' /> -->
                                                            <div class="fw-bold fs-7">Price: &#8358;
                                                                <span class="item-price" data-kt-ecommerce-edit-order-filter="price"><%= order.basket[i].price %></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-end pe-5" data-order="22">
                                                Price: &#8358;
                                                <input type='hidden' value='<%= order.basket[i].item %>' name='item[]' class="box_items" />
                                                <input type='text' value='<%= order.basket[i].price %>' name='price[]' class="box_items_price" disabled/>
                                                </td>
                                            </tr>

                                        <!--begin::Table row-->
                                        <tr id="total_price_container"></tr>
                                        <!--end::Table row-->
                                        <% } %>

                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                        <!--end::Card header-->
                    </div>
                    <!--end::Order details-->
                    
                </div>
                <!--end::Main column-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->



<!-- Start Header section -->
<%- include("include/_footer")%>
<!-- End header section -->